.inputTask{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 25px;
    height: 50px;
    width: 100%;
    word-wrap: break-word;
}
.inputDate{
    padding: 5px;
    margin: 5px;
}
.inputTime{
    padding: 5px;
    margin: 5px;
}
ul{
    overflow-y: auto;
}
li{
    word-wrap: break-word;
}